<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BotToken" value="332482282:AAG_ypxm_lZWeq0l2QgzW8yTa7vF--Yl0FU"/>
    
    <add key="WeatherServiceUrl" value="http://api.openweathermap.org/data/2.5/weather?q={0}&amp;APPID={1}&amp;units=metric"/>
    <add key="WeatherApiKey" value="ec259b32688dc1c1d087ebc30cbff9ed"/>
    
    <add key="CurrencyServiceUrl" value="http://www.nbrb.by/API/ExRates/Rates/{0}?ParamMode=2&amp;onDate={1}"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>